<!DOCTYPE html>
<html lang="en-US" class=" js no-touch">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="https://nitdelhi.ac.in/wp-content/uploads/2018/12/imgpsh_fullsize.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Member Register – NIT-Delhi</title>
    <link rel="dns-prefetch" href="http://s.w.org/">
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="wp-block-library-css" href="./style.min.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="./styles.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="animate-css" href="./animate.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="bootstrap-css" href="./bootstrap.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="font-awesome-css" href="./font-awesome.min.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="meanmenu-css" href="./meanmenu.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="owl.carousel-css" href="./owl.carousel.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="icon-font-css" href="./icon-font.min.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="superfish-css" href="./superfish.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="NIT-Delhi-fonts-css" href="./css" type="text/css"
        media="all">
    <link rel="stylesheet" id="NIT-Delhi-core-css" href="./core.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="NIT-Delhi-style-css" href="./style.css" type="text/css"
        media="all">
    <style id="NIT-Delhi-style-inline-css" type="text/css">
        .top-nav,
        .footer-wrapper,
        .instagream .instagram-feed-user,
        .our-history .history-content .list-history li .history-dot span,
        .event .dark_overlay,
        .program-upcoming-event .dark_overlay,
        .page-links a {
            background-color: #1a265c
        }

        .um-profile-nav {
            background-color: #1a265c !important;
        }

        .menu .nav>li>a,
        .alumni-dashboard .area-content .icon,
        .newsletter.type2 .form-inline button,
        h1.page-title {
            color: #1a265c
        }

        .footer-wrapper.type2 {
            border-color: #1a265c
        }

        .bg-popup {
            background-color: rgba(26, 38, 92, 0.9);
        }

        .program-upcoming-event .area-img-cont:after {
            background: linear-gradient(rgba(26, 38, 92, 0.7), rgba(26, 38, 92, 0.7));
        }

        blockquote {
            border-left: 4px solid rgba(26, 38, 92, 0.7);
        }

        .top-nav ul .login a {
            background-color: #4c588e
        }

        .top-nav ul .login a,
        .top-nav ul li a,
        .top-nav ul li a .icon {
            color: #929ed4
        }

        .input-search::-moz-placeholder {
            color: #929ed4
        }

        .input-search:-ms-input-placeholder {
            color: #929ed4
        }

        .input-search::-webkit-input-placeholder {
            color: #929ed4
        }

        .input-search:-moz-placeholder {
            color: #929ed4
        }

        .color-theme,
        .post__meta-item .fa,
        .mean-container .mean-nav ul li a:hover,
        .footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email .contact-email a:hover,
        .footer-wrapper .foooter-container .footer-middle .links-footer ul li a:hover,
        .footer-wrapper .foooter-container .footer-middle .links-social ul li a:hover,
        .twitter-stream .twitter-content .twitter-desc a,
        .job-detail .brand .brand-content a:hover,
        .event-calendar .event-list-content .event-list-item .date-desc-wrapper .place a:hover,
        .event-calendar .event-list-content .event-list-item .sold-out a:hover,
        .career-opportunity .top-section .sellect-career-opportunity .list-item .select .select-box li:hover,
        .blog-content .articles .article-item .area-content .article-right h3 a:hover,
        a:hover {
            color: #f7ca18 !important
        }

        .bg-color-theme,
        .bnt-theme,
        .slider-hero .content-block .read-story,
        .alumni-interview .interview-wrapper .interview-see-story a:hover,
        .programs-services .services-content #tab_services .tab-content .list-item li:before,
        .our-history .history-content .list-history:before,
        .event-calendar .event-list-content .event-list-item .register a:hover,
        .career-opportunity .top-section .sellect-career-opportunity .list-item .button-set .bnt:hover,
        .latst-article .area-content .category a:hover,
        .blog-right .tag .list-inline li a:hover,
        .blog-content .articles .sticky .area-content .article-left .catetory-title {
            background-color: #f7ca18
        }

        .programs-services .services-content #tab_services .nav-tabs>li.active>a,
        .programs-services .services-content #tab_services .nav-tabs>li.active>a:hover,
        .programs-services .services-content #tab_services .nav-tabs>li.active>a:focus,
        .menu .nav>li.current-menu-itema {
            border-bottom: 2px solid #f7ca18 !important;
        }

        .slider-hero .content-block .read-story,
        .alumni-interview .interview-wrapper .interview-see-story a,
        textarea:focus,
        input:focus,
        .alumni-story .alumni-story-wrapper .alumni-story-content h3 a:hover,
        .event-calendar .event-list-content .event-list-item .register a,
        .desc-border,
        .career-opportunity .top-section .sellect-career-opportunity .list-item .button-set .bnt,
        .pagination>li>a:hover,
        .pagination>li>span.current,
        .pagination>li>span:hover,
        .pagination>li>a:focus,
        .pagination>li>span:focus {
            border-color: #f7ca18 !important;
        }

        .galery-wrapper .galery-content ul li .galery-item .galery-content {
            background-color: rgba(247, 202, 24, 0.9);
        }

        .list-item li:before,
        .um-2012.um input[type=submit].um-button,
        .um-2012.um input[type=submit].um-button:focus,
        .um-2012.um a.um-button,
        .um-2012.um a.um-button.um-disabled:hover,
        .um-2012.um a.um-button.um-disabled:focus,
        .um-2012.um a.um-button.um-disabled:active {
            background-color: #f7ca18 !important;
        }

        .bg-color-theme:hover,
        .date-links a:hover,
        .bnt-theme:hover,
        .list-inline a:hover,
        a.see-story:hover {
            color: #ffffff !important;
        }

        .alumni-interview .interview-wrapper .interview-see-story a {
            border: 3px solid #f7ca18;
        }

        .sticky .area-content .article-left {
            border-right: 1px solid #f7ca18 !important;
        }

        .NIT-Delhi-fact {
            border: 2px dashed #f7ca18;
        }

        .top-section .sellect-career-opportunity .list-item .button-set .bnt {
            border: 2px solid #f7ca18;
        }

        .alumni-directory .list-item li:before {
            background-color: #e5e5e5 !important;
        }

        .sticky .blog-post .area-content h2 {
            border-left: 4px solid #f7ca18;
        }

        .um-2012.um .um-field-group-head,
        .picker__box,
        .picker__nav--prev:hover,
        .picker__nav--next:hover,
        .um-2012.um .um-members-pagi span.current,
        .um-2012.um .um-members-pagi span.current:hover,
        .um-2012.um .um-profile-nav-item.active a,
        .um-2012.um .um-profile-nav-item.active a:hover,
        .upload,
        .um-modal-header,
        .um-modal-btn,
        .um-modal-btn.disabled,
        .um-modal-btn.disabled:hover,
        div.uimob800 .um-account-side li a.current,
        div.uimob800 .um-account-side li a.current:hover {
            background-color: #566298 !important;
        }

        .um-left input[type=submit].um-button,
        .um-left input[type=submit].um-button:focus,
        .um-left a.um-button,
        .um-lefta.um-button.um-disabled:hover,
        .um-lefta.um-button.um-disabled:focus,
        .um-left a.um-button.um-disabled:active,
        .um-password .um-button,
        .um-2013.um .um-members-pagi span.current {
            background: #f7ca18 !important;
        }

        .um-2011.um .um-tip:hover,
        .um-2011.um .um-field-radio.active i,
        .um-2011.um .um-field-checkbox.active i,
        .um-2011.um .um-member-name a:hover,
        .um-2011.um .um-member-more a:hover,
        .um-2011.um .um-member-less a:hover,
        .um-2011.um .um-members-pagi a:hover,
        .um-2011.um .um-cover-add:hover,
        .um-2011.um .um-profile-subnav a.active,
        .um-2011.um .um-item-meta a,
        .um-account-name a:hover,
        .um-account-nav a.current,
        .um-account-side li a.current span.um-account-icon,
        .um-account-side li a.current:hover span.um-account-icon,
        .um-dropdown li a:hover,
        i.um-active-color,
        span.um-active-color {
            color: #f7ca18 !important;
        }
    </style>
    <link rel="stylesheet" id="um_fonticons_ii-css" href="./um-fonticons-ii.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="um_fonticons_fa-css" href="./um-fonticons-fa.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="select2-css" href="./select2.min.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_crop-css" href="./um-crop.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_modal-css" href="./um-modal.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_styles-css" href="./um-styles.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_profile-css" href="./um-profile.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_account-css" href="./um-account.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_misc-css" href="./um-misc.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_fileupload-css" href="./um-fileupload.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="um_datetime-css" href="./default.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_datetime_date-css" href="./default.date.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="um_datetime_time-css" href="./default.time.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="um_raty-css" href="./um-raty.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_scrollbar-css" href="./simplebar.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="um_tipsy-css" href="./um-tipsy.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="um_responsive-css" href="./um-responsive.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="um_default_css-css" href="./um-old-default.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="um_old_css-css" href="./um_old_settings.css"
        type="text/css" media="all">
    <script type="text/javascript" src="./jquery.js.download"></script>
    <script type="text/javascript" src="./jquery-migrate.min.js.download"></script>
    <script type="text/javascript" src="./um-gdpr.min.js.download"></script>
    <style type="text/css">
        .um_request_name {
            display: none !important;
        }
    </style>
</head>

<body class="page-template-default page page-id-2018 um-page-register um-page-loggedout">

    <div id="page" class="site main-wrapper">


        <!--Begin header wrapper  header-position-->
        <div class="header-wrapper">
            <header id="header" class="container-header type1">
                <div class="top-nav">
                    <div class="container">
                        <div class="row">
                            <div class="top-left col-sm-6 hidden-xs">
                                <ul class="list-inline list-inline-top">
                                    <li>
                                        <a href="mailto:ar@nitdelhi.ac.in">
                                            <span class="icon mail-icon"></span>
                                            <span class="text">ar@nitdelhi.ac.in</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:011–33861005">
                                            <span class="icon phone-icon"></span>
                                            <span class="text">011–33861005</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-right col-sm-6 col-xs-12">
                                <ul class="list-inline">
                                    
                                    <li class="login">
                                        <a href="/login" title="Login">Login</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-middle">
                    <div class="container">
                        <div class="logo hidden-sm hidden-xs">
                            <a href="" title="NIT-Delhi" rel="home"><img style="height: 70px;margin-top: 36.5px;"
                                    src="nit-logo.png" alt="NIT-Delhi"></a>
                        </div>

                        <div class="area-desktop-content menu">
                            <nav>
                                <ul class="nav navbar-nav sf-menu">
                                    <li id="menu-item-2181"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2181">
                                        <a href="/">Home</a>
                                    </li>
                                    <li id="menu-item-2180"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2180">
                                        <a href="">Program &amp; Events</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2060"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2060">
                                                <a href="/profile">Alumni Profile</a></li>
                                            <li id="menu-item-2059"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2059">
                                                <a href="/login">Alumni Login</a></li>
                                            <li id="menu-item-2058"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2058">
                                                <a href="/register">Alumni Register</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-2179"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2179">
                                        <a href="">Connect to Us</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2066"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                <a href="https://www.facebook.com/">Facebook</a>
                                            </li>
                                            <li id="menu-item-2066"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                <a href="https://twitter.com/">Twitter</a>
                                            </li>
                                            <li id="menu-item-2066"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                <a href="https://www.instagram.com/">Instagram</a>
                                            </li>
                                            <li id="menu-item-2066"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                <a href="https://www.linkedin.com/">LinkedIn</a>
                                            </li>
                                            <li id="menu-item-2066"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                <a href="https://www.youtube.com/">Youtube</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li id="menu-item-2177"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2177">
                                        <a href="">About us</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2174"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2174">
                                                <a href="/degree">Directory</a>
                                            </li>
                                            <li id="menu-item-2175"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2175">
                                                <a href="/gallery">Gallery</a>
                                            </li>
                                            <li id="menu-item-2058"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2058">
                                                <a href="/contact">Contact Us</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="area-mobile-content visible-sm visible-xs">
                            <div class="header-container">
                                <div class="row">
                                    <div class="logo-mobile ol-md-8">
                                        <a href="" title="NIT-Delhi" rel="home"><img
                                                src="nit-logo.png"
                                                alt="NIT-Delhi"></a>
                                    </div>

                                    <div class="col-md-4">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#navbar-mobile">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="mobile-navigation">
                                <div class="container">
                                    <nav id="site-navigation-mobile">
                                        <div id="navbar-mobile" class="navbar-collapse collapse">

                                            <ul id="menu-main-menu-1" class="nav navbar-mob">
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2177">
                                                    <a href="/">Home</a>
                                                    <ul class="sub-menu">
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2056">
                                                            <a href="/">Home</a></li>
                                                    </ul>
                                                </li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2180">
                                                    <a href="">Program &amp;
                                                        Events</a>
                                                    <ul class="sub-menu">
                                                        <li
                                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2060">
                                                            <a href="/profile">Alumni
                                                                Profile</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2059">
                                                            <a href="/login">Alumni
                                                                Login</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2058">
                                                            <a href="/register">Alumni
                                                                Register</a></li>
                                                    </ul>
                                                </li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2179">
                                                    <a href="">Connect to Us</a>
                                                    <ul class="sub-menu">
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                            <a href="https://www.facebook.com/">Facebook</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                            <a href="https://twitter.com/">Twitter</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                            <a href="https://www.instagram.com/">Instagram</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                            <a href="https://www.linkedin.com/">LinkedIn</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066">
                                                            <a href="https://www.youtube.com/">Youtube</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2177">
                                                    <a href="">About us</a>
                                                    <ul class="sub-menu">
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2174">
                                                            <a href="/degree">Directory</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2175">
                                                            <a href="/gallery1">Gallery</a>
                                                        </li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2174">
                                                            <a href="/contact">Contact Us</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>

                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!--Begin content wrapper-->
        <div id="content" class="site-content content-wrapper page-content">
            <div class="entry-header text-center">
                <h1 class="entry-title">Member Register</h1>
                <% if (messages.error) { %>
                    <%= messages.error %>
                  <% } %>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="padding-left: 2%;">
                        <form action="/register" method="POST">

                            <label for="#username" style="font-size: medium;">Roll No.</label><br><br>
                            <input type="text" name="id" id="username" style="width:100%; padding:2%;"><br><br><br>
                            <label for="#firstName" style="font-size: medium;">Full Name</label><br><br>
                            <input type="text" name="name" id="firstName" style="width:100%; padding:2%;"><br><br><br>
                            <label for="#email" style="font-size: medium;">E-mail Address</label><br><br>
                            <input type="email" name="email" id="email" style="width:100%; padding:2%;"><br><br><br>
                            <label for="#password" style="font-size: medium;">Password</label><br><br>
                            <input type="password" name="password" id="password" style="width:100%; padding:2%;"><br><br><br>
                            <button class="btn btn-lg bg-color-theme" style="border-radius:0%; color:white; width:49%;"
                                type="submit">REGISTER</button>
                            <a href="/login"><div class="btn btn-lg btn-light" style="border-radius:0%; width:49%;background-color: rgb(200, 200, 200);"type="submit">LOGIN</div></a><br><br><br>
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div><!-- #primary -->

    </div><!-- #content -->

    <!--Begin footer wrapper-->
    <div class="footer-wrapper type2">
        <footer class="foooter-container">
            <div class="container">
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12 animated footer-col fadeIn">
                            <div class="contact-footer">
                                <div class="logo-footer">
                                    <a href="" title="NIT-Delhi" rel="home"><img
                                            src="./nit-logo.png" alt="NIT-Delhi"></a>
                                </div>


                                <div class="contact-phone-email">
                                    <span class="contact-phone"><a href="tel:011–33861005">011–33861005</a> | <a
                                            href="tel:011–33861006">011–33861006</a>
                                    </span>
                                    <span class="contact-email"><a
                                            href="mailito:ar@nitdelhi.ac.in">ar@nitdelhi.ac.in</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12  col-xs-12 animated footer-col fadeIn">
                            <div class="links-footer">
                                <div class="row">

                                    <div
                                        class="col-sm-4 col-xs-12 menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2146 current_page_item menu-item-has-children">
                                        <h6 class="heading-bold">University</h6>
                                        <ul class="list-unstyled no-margin sub-menu menu-odd  menu-depth-1">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                    href="/degree" class="menu-link sub-menu-link">Students</a> </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                    href="/gallery" class="menu-link sub-menu-link">Gallery</a> </li>
                                        </ul>
                                    </div>

                                    <div
                                        class="col-sm-4 col-xs-12 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                        <h6 class="heading-bold">Alumni</h6>
                                        <ul class="list-unstyled no-margin sub-menu menu-odd  menu-depth-1">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                    href="/contact" class="menu-link sub-menu-link">Contacts</a> </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                    href="/" class="menu-link sub-menu-link">Home</a> </li>
                                        </ul>
                                    </div>

                                    <div
                                        class="col-sm-4 col-xs-12 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                        <h6 class="heading-bold">Account</h6>
                                        <ul class="list-unstyled no-margin sub-menu menu-odd  menu-depth-1">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                                                    href="/profile" class="menu-link sub-menu-link">Profile</a> </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                    href="/reset-pass" class="menu-link sub-menu-link">Password</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 animated footer-col fadeIn">
                            <div class="links-social">


                                <div class="login-dashboard">
                                    <a href="/profile" class="bg-color-theme text-center text-regular">Alumni
                                        Account</a>
                                </div>


                                <ul class="list-inline text-center">
                                    <li>
                                        <a href="https://www.facebook.com/">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/">
                                            <i class="fa fa-youtube" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom text-center">
                    <p class="copyright text-dark">©2020 Alumni Association of NIT Delhi</p>
                </div>
            </div>
        </footer>
    </div>
    <!--End footer wrapper-->


    <div id="um_upload_single" style="display:none"></div>
    <div id="um_view_photo" style="display:none">

        <a href="javascript:void(0);" data-action="um_remove_modal" class="um-modal-close"><i
                class="um-faicon-times"></i></a>

        <div class="um-modal-body photo">
            <div class="um-modal-photo"></div>
        </div>

    </div>


</body>

</html>